.header-content {
  text-align: center;
  padding: 20px;
  color: black;
  font-size: large;
}

.section-content {
  width: fit-content;
  height: fit-content;
  background-color: grey;
  padding: 30px;
}

.input-field {
  display: block;
  width: 200px;
  height: 20px;
  border-radius: 5px;
  margin: 15px;
}

.label-content {
  font-size: 20px;
  text-align: end;
}

.input-btn {
  width: 60px;
  border-radius: 5px;
  background-color: blue;
}

.input-field:focus {
  border: solid blue;
}

.aside-content {
  width: 250px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  background-color: grey;
  font-size: large;
}

.table-style {
  border: solid 2px;
  color: white;
}
thead {
  padding: 15px;
  text-align: center;
  margin-bottom: 10px;
}
th {
  color: black;
  border: solid 2px;
  padding: 10px;
}
td {
  border: solid 2px;
  padding: 10px;
}
